@{
    ViewData["Title"] = "Usuario Index";
    var msg = ViewData["Title"];
    var dateTime = DateTime.Now;
}
<div class="text-center">
    <h1 class="display-4">@msg</h1>
    <p>@dateTime</p>
</div>